@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}



/* .custom-arrow {
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.custom-arrow svg {
  color: white;
}

.custom-arrow:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.splide__arrow {
  position: static;
  transform: none;
}

.custom-arrow {
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-arrow svg {
  color: white;
}

.custom-arrow:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.splide__arrow {
  position: static;
  transform: none;
}

@media (max-width: 640px) {
  .splide__arrow {
    /* Ensure responsive adjustments for smaller screens */
    width: 36px;
    height: 36px;
  }
}



@font-face {
  font-family: 'SofiaProLight';
  src: url('../../public/Sofia Pro Font/SofiaProLight.woff') format('woff');
}

.sofiaProL {
  font-family: 'SofiaProLight';
}



@font-face {
  font-family: 'SofiaProRegular';
  src: url('../../public/Sofia Pro Font/SofiaProRegular.woff') format('woff');
}

.sofiaProR {
  font-family: 'SofiaProRegular';
}



@font-face {
  font-family: 'SofiaProMedium';
  src: url('../../public/Sofia Pro Font/SofiaProMedium.woff') format('woff');
}

.sofiaProM {
  font-family: 'SofiaProMedium';
}


@font-face {
  font-family: 'SofiaProBold';
  src: url('../../public/Sofia Pro Font/SofiaProBold.woff') format('woff');
}

.sofiaProBld {
  font-family: 'SofiaProBold';
}



@font-face {
  font-family: 'SofiaProBlack';
  src: url('../../public/Sofia Pro Font/SofiaProBlack.woff') format('woff');
}

.sofiaProBlc {
  font-family: 'SofiaProBlack';
}



